{% extends 'registration/base.html' %}
{% load static %}
{% block content %}
<h2 class='mx-3 my-2'>Category {{category.title}}</h2>
<div class='card my-4 mx-3'>
    <h3 class='card-header'> {{question.id}}.) {{question.question}} <span class='timer float-end'></span></h3>
    <form method='POST' action="{% url 'submit_answer' category.id question.id %}">
        {% csrf_token %}
    <div class='card-body'>
        <table class='table table-bordered'>
            <tr>
                <td><input value ='{{question.option_1}}' id ='option_1' name ='answer'type="radio"/></td>
                <th><label for="option_1"></label> {{question.option_1}} </th>
            </tr>
            <tr>
                <td><input value ='{{question.option_2}}' id ='option_2' name ='answer' type="radio"/></td>
                <th><label for="option_2"></label> {{question.option_2}} </th>
            </tr>
            <tr>
                <td><input value ='{{question.option_3}}' id ='option_3' name ='answer' type="radio"/></td>
                <th><label for="option_3"></label> {{question.option_3}} </th>
            </tr>
            <tr>
                <td><input value ='{{question.option_4}}' id ='option_4' name ='answer' type="radio"/></td>
                <th><label for="option_4"></label> {{question.option_4}} </th>
            </tr>
        </table>
    </div>
    <div class='card-footer'>
        <input type="submit" name='skip' value ='skip' class='btn btn-warning mx-3 skipBtn'/>
        <input type="submit" name ='submit' value ='Submit' class='btn btn-primary submitBtn'/>
        <button type="button" class = "btn btn-success mx-3" onclick="clearSelection('answer');">
            Clear Selection
          </button>
    </div>
</form>
</div>
<script src="{% static 'Quiz_app/js/jquery.js' %}"></script>
<script type='text/javascript'>
    $(document).ready(function(){
         $(".submitBtn").on('click',function(){
            var _checkedAns=$("input[name='answer']:checked").val();
            if(_checkedAns==undefined){
                alert('submit answer please')
                return false;
            } 
        });
        $(".timer").countdowntimer({
        seconds: {{question.time_limit}},
        size : "sm",
        timeUp: function(){
            $(".skipBtn").trigger('click');
        }
    });
});
const clearSelection = (name) => {
    const radioBtns = document.querySelectorAll(
            "input[type='radio'][name='" + name + "']");
    radioBtns.forEach((radioBtn) => {
      if (radioBtn.checked === true)
        radioBtn.checked = false;
    });
  };
</script>

{% endblock content %}
